# React development variables
REACT_APP_KEY_MNEMONIC=""
REACT_APP_KEY_INFURA_API_KEY=""
REACT_APP_ETH_NETWORKS=mainnet,kovan
REACT_APP_GIT_SHA=""

# NodeJS environment to use, can be development or production
NODE_ENV=development

# This variables are used for development, they are filled with the locally deployed contracts.
# REACT_APP_MULTICALL_ADDRESS="0x..."
# REACT_APP_DAT_ADDRESS="0x..."
# REACT_APP_DAT_IMPLEMENTATION_ADDRESS="0x..."

# Override network rpc urls here
# REACT_APP_SUPPORTED_NETWORK_1="https://mainnet.eth.cloud.ava.do"
# REACT_APP_SUPPORTED_NETWORK_3=""
# REACT_APP_SUPPORTED_NETWORK_4=""
# REACT_APP_SUPPORTED_NETWORK_42=""
# REACT_APP_SUPPORTED_NETWORK_66=""
