{
  "root": true,
  "extends": ["react-app", "plugin:cypress/recommended"],
  "plugins": ["@typescript-eslint", "cypress"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "cypress/no-unnecessary-waiting": "off",
    "eqeqeq": "error",
    "array-callback-return": "error",
    "react-hooks/exhaustive-deps": 0,
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-useless-constructor": 0
  },
  "env": {
    "cypress/globals": true
  }
}

