{
  "root": true,
  "extends": ["react-app", "plugin:cypress/recommended"],
  "plugins": ["@typescript-eslint", "cypress"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "cypress/no-unnecessary-waiting": "off"
  },
  "env": {
    "cypress/globals": true
  }
}

