# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/artifacts
/cache
.temp
/src/configs/localhost.json

# production
/build
/contracts/build
/cache

# config
.developmentNetwork.json

# misc
.DS_Store
.env
.env.development
/.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.release.md

#editor 
.vscode/

#logs
.log/

#typechain
src/types/*
!src/types/types.d.ts
!src/types/types.guilds.d.ts

# cypress
cypress/screenshots
cypress/videos