name: IPFS Preview Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - develop
  pull_request_target:
    types: [synchronize, edited, opened, converted_to_draft, ready_for_review, reopened]

jobs:
  develop-ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.17.6]
    steps:
      - name: Inject slug variables
        uses: rlespinasse/github-slug-action@3.5.1

      - name: Checkout
        uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Start Deployment
        uses: bobheadxi/deployments@v0.6.0
        id: deployment
        with:
          step: start
          token: ${{ secrets.GITHUB_TOKEN }}
          env: ${{ env.GITHUB_HEAD_REF_SLUG_URL || env.GITHUB_REF_SLUG_URL }}
          ref: ${{ github.head_ref }}

      - name: Install dependencies
        run: yarn

      - name: Build Dapp
        run: CI=false yarn build

      - name: Deploy to IPFS
        uses: web3-storage/add-to-web3@v1
        id: web3
        with:
          web3_token: ${{ secrets.WEB3_STORAGE_TOKEN }}
          path_to_add: 'build'
 
      - name: Update DNS Record for Develop Branch
        run: npx dnslink-cloudflare --domain dxvote.dev --record _dnslink.develop --link /ipfs/${{ steps.web3.outputs.cid }}
        env:
          CF_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
        if: github.ref == 'refs/heads/develop'

      - name: Update DNS Record for Master Branch
        run: npx dnslink-cloudflare --domain dxvote.dev --record _dnslink --link /ipfs/${{ steps.web3.outputs.cid }}
        env:
          CF_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
        if: github.ref == 'refs/heads/master'

      - name: Update Deployment Status
        uses: bobheadxi/deployments@v0.6.0
        if: always()
        with:
          step: finish
          token: ${{ secrets.GITHUB_TOKEN }}
          status: ${{ job.status }}
          deployment_id: ${{ steps.deployment.outputs.deployment_id }}
          env_url: 'https://${{ steps.web3.outputs.cid }}.ipfs.dweb.link'
